<!DOCTYPE html>
<html>

<body>
    <h1>Message app</h1>
<h2>Log in</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/login" method="post">
  <p>
    <label for="username">Username</label>: <br />
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password">Password</label>: <br />
    <input type="password" name="password" id="password" />
  </p>
  <input type="submit" value="Login" />
</form>

</body>

</html>