<!DOCTYPE html>
<html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>New comment</h1>
<form action="/create_comment" method="post">
<!--     <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> -->
  <p>
    <label for="comment">Comment:</label> <br />
    <textarea name="comment" id="comment" rows="8" cols="60" required maxlength="1000"></textarea>
  </p>
  <input type="submit" value="Send comment" />
</body>

</html>
