<!DOCTYPE html>
<html>

<h2>Create account</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/create" method="post">
  <p>
    <label for="username">Username</label>: <br />
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password1">Password</label>: <br />
    <input type="password" name="password1" id="password1" />
  </p>
  <p>
    <label for="password2">Repeat password</label>: <br />
    <input type="password" name="password2" id="password2" />
  </p>
  <input type="submit" value="Create account" />
</form>

</body>

</html>